# MPLAB X IDE build artifacts
/ProTimer.X/nbproject/private/
/ProTimer.X/nbproject/Makefile-genesis.properties
/ProTimer.X/nbproject/Makefile-local-default.mk
/ProTimer.X/nbproject/Makefile-default.mk
/ProTimer.X/build/
/ProTimer.X/dist/
*.hex
*.cof
*.elf
*.map
*.o
*.d
*.lst
*.sdb
# /.vscode
/_build/
# /cmake/
/out/